* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.main-container{
 display: grid;
 background-color: blanchedalmond;
 border: 5px solid wheat;
 grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.second-container{
  display: grid;
  margin-top: 50px;
  background-color: aliceblue;
  border: 5px solid papayawhip;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.item {
  border: 5px solid wheat;
  font-size: 2rem;
}